[submodule "tools/isodump"]
	path = tools/isodump
	url = https://github.com/jdperos/isodump.git
[submodule "tools/mkpsxiso"]
	path = tools/mkpsxiso
	url = https://github.com/Lameguy64/mkpsxiso.git
[submodule "tools/maspsx"]
	path = tools/maspsx
	url = https://github.com/mkst/maspsx.git
[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ.git
[submodule "tools/m2c"]
	path = tools/m2c
	url = https://github.com/matt-kempster/m2c.git
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter.git
[submodule "tools/cd-dat-utils"]
	path = tools/cd-dat-utils
	url = https://github.com/StableCrimson/cd-dat-utils.git

