# xtra folder, we only ignore the bm5th, the image dump and the ghidra project
/extra/bm5/
/extra/imgout/
/extra/ghidra/

# forgot about psyq
psyq_*/

asm/
assets/
build/
iso/
linker/
.vscode/
.idea/
__pycache__/
permuter/
expected/
.venv/
.cache/
.bin/

objdiff.json
null.d
!*/place-the-bin-and-cue-here
ctx.c
compile.log
compile_commands.json
Zone.Identifier

popn.bin
SLPM_???.??

!SLPM_861.83/
!*/SLPM_861.83/