# xtra folder, we only ignore the bm5th, the image dump and the ghidra project
/extra/bm5/
/extra/imgout/
/extra/ghidra/

# forgot about psyq
psyq_*

# taken from MGS:
# https://github.com/FoxdieTeam/mgs_reversing/blob/master/.gitignore
*.obj
*.lib
*.cpe
*.exe
*.map
*.sym
*.matching.bin
*.pyc
.ninja*
build.ninja
PAPX_???.??
SLED_???.??
SLES_???.??
SLPM_???.??
SLP_???.??
SLUS_???.??
obj
obj_vr
obj_dev
build/dump.asm
build/m2c
build/contrib
build/man
build/manifest
build/target.asm
build/share
build/bin
build/*.zip
build/statcov.txt
.vscode/c_cpp_properties.json
.vscode/tasks.json
.vscode/settings.json
build/obj_tool/Release
.vs
build/include_asm_tmp
source/.vscode/settings.json
*.log
*.swp
*.swo
research/
.cache/
.bin/
.sentry-native
obj_psx_dev/
third_party/

iso/

ctx.c
ctx.c.m2c
*.ld
*auto.*.txt
__pycache__

asm/*/*.s
asm/*/data/*.s
asm/*/nonmatchings/*.s
asm/*/nonmatchings/*/*.s
asm/*/nonmatchings/*/*/*.s
nonmatchings/
assets/
build/
expected/
linker/
.idea/
permuter/
expected/
.venv/
.cache/

objdiff.json
null.d
ctx.c
compile.log
compile_commands.json
Zone.Identifier
